@font-face {
    font-family: 'Inter-Regular';
    src: url('./default-fonts/Inter-Regular.ttf');
}
@font-face {
    font-family: 'Inter-Medium';
    src: url('./default-fonts/Inter-Medium.ttf');
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('./default-fonts/Inter-Bold.ttf');
}

/* body */
body {
    /* should be #ffffff but make the background colour the same as the editor until media queries are added */
    background-color: #1b1b1b;

    /* fix margin */
    margin: 0 auto;
    
    /* caret colour */
    caret-color: #ffffff;
}

/* file directory tree */
#file-directory-tree-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black;*/
    background-color: #2c2b2b;
    width: 300px;
    height: 100vh;
    overflow-y: scroll;
    /* ux purposes */
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Inter-Regular';
    /* border-radius: 25px; */
    margin-top: 10px;
    /*padding-bottom: 10px;*/
    margin: 0;
    content-visibility: auto; /* helps with scroll performance and load performance */
    contain-intrinsic-size: auto 300px; /* relates to content-visibility */
}
.parent-folder-name {
    color: rgb(250, 248, 248);
    font-size: 20px;
    margin-left: 20px;
    padding-top: 10px;
    font-family: 'Inter-Bold';
}
.parent-folder-name:hover {
    cursor: pointer
}
.parent-of-root-folder:hover {
    cursor: pointer;
}
.parent-folder-caret {
    position: absolute;
    margin-top: -25px;
    margin-right: 100px;
    margin-left: 3px;
    color: rgb(223, 222, 222);
    font-size: 20px;
    transform: rotate(90deg);
}
.parent-folder-caret.is-active-parent-folder {
    position: absolute;
    margin-top: -27px;
    margin-right: 100px;
    margin-left: 5px;
    color: rgb(223, 222, 222);
    font-size: 20px;
    transform: rotate(180deg);
}
.child-file-name {
    color: white;
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 35px;
}
.child-file-name:hover {
    cursor: pointer;
}
.child-file-name.is-active-child {
    /*color: orange;*/
    /*border: 1px solid black;*/
    background-color: grey;
    width: 250px;
}

#editor-container {
    /* border: 1px solid black; */
    width: 100vw; /* need to fix width */
    height: 100vh; /* height is okay for now */
    margin-left: 300px;
    position: fixed;
    overflow-y: scroll;
    overflow-x: scroll;
}

.milkdown h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter-Bold';
}
.milkdown table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    font-size: 22px;
    color: white;
    padding: 6px 13px;
}

.milkdown blockquote  {
    border-left: 3px solid grey;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-size: 22px;
}
.milkdown blockquote:before {
    color: grey;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.milkdown blockquote p {
    display: inline;
    font-size: 22px;
}

.milkdown a {
    color: rgb(103, 103, 167);
}