/*
* fonts
*/
@font-face {
    font-family: 'Inter-Regular';
    src: url('./default-fonts/Inter-Regular.ttf');
}
@font-face {
    font-family: 'Inter-Medium';
    src: url('./default-fonts/Inter-Medium.ttf');
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('./default-fonts/Inter-Bold.ttf');
}

/* body */
body {
    /* should be #ffffff but make the background colour the same as the editor until media queries are added */
    background-color: #1a1a1a;

    /* fix margin */
    margin: 0 auto;
    
    /* caret colour */
    caret-color: #ffffff;
}

/* scroll bar customization */
::-webkit-scrollbar {
    width: 10px; 
    height: 4px; 
}
::-webkit-scrollbar-thumb {
    background-color:#939393; 
    -webkit-border-radius: 1ex;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/* 
* file directory tree 
*/
#file-directory-tree-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    border: 1px solid #2e2e2e;
    background-color: #131212;
    width: 290px;
    height: 99%;
    overflow-y: scroll;
    overflow-x: hidden;
    /* ux purposes */
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Inter-Regular';
    border-radius: 25px;
    margin-top: 0px;
    top: 2px;
    /*margin: 0;*/
    left: 4px;
    content-visibility: auto; /* helps with scroll performance and load performance */
    contain-intrinsic-size: auto 300px; /* relates to content-visibility */
}

/*
* file directory tree container inner 
*/
#file-directory-tree-container-inner {
    position: relative;
    margin-top: 70px;
}

/*
* parent folder related nodes
*/
.parent-folder-name {
    color: rgb(250, 248, 248);
    font-size: 22px;
    margin-left: 20px;
    padding-top: 15px;
    font-family: 'Inter-Bold';
    white-space: nowrap; /* don't wrap name and set overflow-x to handle the nowrap */
    overflow-x: scroll;
    width: 220px;
}
.parent-folder-name::-webkit-scrollbar {
    display: none;
}
.parent-folder-name:hover {
    cursor: pointer;
}
.parent-of-root-folder:hover {
    cursor: pointer;
}
.parent-folder-caret {
    position: absolute;
    margin-top: -28px;
    margin-right: 100px;
    margin-left: 3px;
    color: rgb(223, 222, 222);
    font-size: 20px;
    transform: rotate(90deg);
}
.parent-folder-caret.is-active-parent-folder {
    position: absolute;
    margin-top: -30px;
    margin-right: 100px;
    margin-left: 5px;
    color: rgb(223, 222, 222);
    font-size: 20px;
    transform: rotate(180deg);
}

/*
* child file related nodes
*/
.child-file-name {
    color: rgb(237, 235, 235);
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 2px;
    margin-left: 35px;
    width: 200px;
    white-space: nowrap;
    overflow-x: scroll;
}
.child-file-name::-webkit-scrollbar {
    display: none;
}
.child-file-name:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgb(140, 89, 234);
    width: 200px;
    border-radius: 5px;
}
.child-file-name.is-active-child {
    color: orange;
    width: 200px;
    border-radius: 5px;
}

/* editor container */
#editor-container {
    margin-left: 300px;
    position: fixed;
    overflow-y: scroll;
    overflow-x: scroll;
}

/* new file */
.create-new-file {
    position: absolute;
    margin-top: -28px;
    margin-left: 260px;
    width: 18px;
    height: 24px;
    text-align: center;
    color: white;
    border-radius: 5px;
    border: 1px solid;
    background-color: #232222;
    font-size: 20px;
    display: none;
}
.create-new-file:hover {
    cursor: pointer;
    background-color: rgb(88, 88, 88);
}
.create-new-file.show-create-file {
    display: block;
}

/* create folder */
#create-folder {
    position: fixed;
    top: 15px;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    width: 120px;
    margin-left: 25px;
    background-color: #232222;
    font-size: 18px;
    text-align: center;
}
#create-folder:hover {
    cursor: pointer;
    background-color: rgb(88, 88, 88);
}

/* settings node */
#settings-node {
    position: fixed;
    top: 15px;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    width: 76px;
    margin-left: 200px;
    background-color: #232222;
    font-size: 18px;
    text-align: center;
}
#settings-node:hover {
    cursor: pointer;
    background-color: rgb(88, 88, 88);
}

/* 
* create file modal nodes 
*/
#create-file-modal-container {
    position: relative;
    z-index: 1;
    /* 
    * transparent background without messing with opacity property in CSS
    * set rgb values to 0 
    * set alpha value to a float or integer to control opacity
    */
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}
#create-file-modal-inner-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 400px;
    background-color: #232222;
    z-index: 1;
    border: 1px solid grey;
    border-radius: 25px;
}
#create-file-modal-exit {
    z-index: 1;
    position: fixed;
    width: 68px;
    height: 25px;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    right: 20px;
    bottom: 10px;
    -webkit-user-select: none;
    user-select: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Inter-Regular';
}
#create-file-modal-exit:hover {
    cursor: pointer;
    background-color: rgb(88, 88, 88);
}
#create-file-modal-continue {
    z-index: 1;
    position: fixed;
    width: 90px;
    height: 25px;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    right: 105px;
    bottom: 10px;
    -webkit-user-select: none;
    user-select: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Inter-Regular';
}
#create-file-modal-continue:hover {
    cursor: pointer;
    background-color: rgb(88, 88, 88);
}

/* 
* milkdown editor nodes 
*/

.milkdown h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter-Bold';
}
.milkdown table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    font-size: 22px;
    color: white;
    padding: 0px 10px;
}

.milkdown blockquote  {
    border-left: 3px solid grey;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-size: 22px;
}
.milkdown blockquote:before {
    color: grey;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.milkdown blockquote p {
    display: inline;
    font-size: 22px;
    color: rgb(134, 134, 134);
}

.milkdown a {
    color: rgb(103, 103, 167);
}

.milkdown strong {
    font-family: 'Inter-Bold'
}

.milkdown img { 
    width: auto;
}