/*
* fonts
*/
@font-face {
    font-family: 'Inter-Regular';
    src: url('./default-fonts/Inter-Regular.ttf');
}
@font-face {
    font-family: 'Inter-Medium';
    src: url('./default-fonts/Inter-Medium.ttf');
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('./default-fonts/Inter-Bold.ttf');
}

/*
* root vars
*/
:root {
    --default-bg: #ffffff;
    --caret-color-light: #000000;
    --file-directory-bg: #131212;
    --parent-folder-name: rgb(237, 235, 235);
    --parent-folder-name-hover: rgb(140, 89, 234);
    --parent-folder-caret: rgb(223, 222, 222);
    --parent-folder-caret-active: rgb(223, 222, 222);
    --child-file-name: rgb(237, 235, 235);
    --child-file-name-active: orange;
    --create-new-file-bg: #232222;
    --prosemirror-pre-bg: rgb(181, 181, 181);
    --prosemirror-code-bg: rgb(181, 181, 181);
    --prosemirror-pre-color: #2e2a43;
    --prosemirror-code-color: #2e2a43;
    --prosemirror-bg-light: #ececec;
    --continue-modal: rgb(176, 136, 250);
    --modal-hover-bg: rgb(88, 88, 88);
    --prosemirror-a-light: rgb(80, 80, 133);
    --top-bar-directory-info-color-light: #000000;
    --word-count-color-light: rgb(99, 99, 99);
    /* 
    * transparent background without messing with opacity property in CSS
    * set rgb values to 0 
    * set alpha value to a float or integer to control opacity
    */
    --create-file-modal-container-bg: rgba(0, 0, 0, 0.5);
    --folder-file-count-container-color: rgb(99, 99, 99);
    --kebab-dropdown-menu-shape-bg: rgb(163, 162, 162);
    --caret-color-modal: #ffffff;
}

/* body */
body {
    background-color: var(--prosemirror-bg-light);

    /* fix margin */
    margin: 0 auto;
    
    /* caret colour */
    caret-color: var(--caret-color-light);

    /* hide overflow so body cannot be scrolled */
    overflow-y: hidden;
    overflow-x: hidden;
}

#draggable-area-window-top {
    position: absolute;
    /*border: 1px solid black;*/
    height: 42px;
    width: 100%;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
    margin-top: -10px;
}

/* 
* file directory tree 
*/
#file-directory-tree-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    border: 1px solid #2e2e2e;
    background-color: var(--file-directory-bg);
    width: 292px;
    height: calc(100% - 1px);
    overflow-y: hidden;
    overflow-x: hidden;
    /* ux purposes */
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Inter-Regular';
    /*border-radius: 25px;*/
    margin-top: 0px;
    top: -1px;
    /*margin: 0;*/
    left: -2px;
    content-visibility: auto; /* helps with scroll performance and load performance */
    contain-intrinsic-size: auto 300px; /* relates to content-visibility */
}

/*
* file directory tree container inner 
*/
#file-directory-tree-container-inner {
    position: relative;
    margin-top: 100px;
    /*border: 1px solid white;*/
    height: calc(100% - 150px);
    overflow-y: scroll;
}

/*
* parent folder related nodes
*/
.parent-folder-name {
    color: var(--parent-folder-name);
    font-size: 18px;
    margin-left: 25px;
    padding-top: 15px;
    font-family: 'Inter-Bold';
    white-space: nowrap; /* don't wrap name and set overflow-x to handle the nowrap */
    overflow-x: scroll;
    width: 165px;
    /*border: 1px solid white;*/
}
.parent-folder-name::-webkit-scrollbar {
    display: none;
}
.parent-folder-name:hover {
    cursor: pointer;
    text-decoration: none;
    text-decoration-color: var(--parent-folder-name-hover);
}
.parent-of-root-folder:hover {
    cursor: pointer;
}
.parent-folder-caret {
    position: absolute;
    margin-top: -22px;
    margin-right: 100px;
    margin-left: 7px;
    color: var(--parent-folder-caret);
    font-size: 19px;
    transform: rotate(90deg);
}
.parent-folder-caret.is-active-parent-folder {
    position: absolute;
    margin-top: -25px;
    margin-right: 100px;
    margin-left: 9px;
    color: var(--parent-folder-caret-active);
    font-size: 20px;
    transform: rotate(180deg);
}

/*
* child file related nodes
*/
.child-file-name {
    color: var(--child-file-name);
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 2px;
    margin-left: 35px;
    width: 155px;
    white-space: nowrap;
    overflow-x: scroll;
}
.child-file-name::-webkit-scrollbar {
    display: none;
}
.child-file-name:hover {
    cursor: pointer;
    text-decoration: none;
    text-decoration-color: var(--child-file-name-hover);
    border-radius: 5px;
}
.child-file-name.is-active-child {
    color: var(--child-file-name-active);
    width: 155px;
    border-radius: 5px;
    /*background-color: rgb(67, 65, 65);*/ /* experimental only */
}

/* 
* editor container 
*/
#editor-container {
    margin-left: 298px;
    position: fixed;
    /*
    overflow-y: scroll;
    overflow-x: scroll;
    */
    width: calc(100% - 318px);
    height: calc(100% - 8px);
}

/**
* Editor top bar nodes
*/
#editor-top-bar-container {
    width: calc(100% - 304px);
    height: 35px;
    /*border: 1px solid black;*/
    margin-left: 298px;
    margin-top: 10px;
    font-family: 'Inter-Regular';
    font-size: 14px;
    white-space: nowrap;
    overflow-x: scroll;
    user-select: none;
}
#top-bar-directory-info {
    display: flex;
    /*border: 1px solid black;*/
    width: calc(100% - 304px);
    justify-content: center;
    align-items: center;
    margin-left: 110px;
    margin-top: 15px;
    color: var(--top-bar-directory-info-color-light);
}

/* new file */
.create-new-file {
    position: absolute;
    margin-top: -22px;
    margin-left: 260px;
    width: 18px;
    height: 20px;
    color: rgb(224, 224, 224);
    border-radius: 100px;
    border: 1px solid;
    background-color: var(--create-new-file-bg);
    font-size: 20px;
    display: none;
}
.create-new-file:hover {
    cursor: pointer;
    background-color: var(--modal-hover-bg);
}
.create-new-file.show-create-file {
    display: block;
}
.create-new-file-text-node-inner-container {
    margin-left: 2.5px;
    margin-top: -2.8px;
}

/* create folder */
#create-folder {
    position: fixed;
    top: 58px;
    color: rgb(224, 224, 224);
    border: 1px solid;
    border-color: grey;
    border-radius: 5px;
    width: 120px;
    margin-left: 10px;
    background-color: #232222;
    font-size: 18px;
    text-align: center;
}
#create-folder:hover {
    cursor: pointer;
    background-color: var(--modal-hover-bg);
}

/* settings node */
#settings-node {
    position: fixed;
    top: 58px;
    color: rgb(224, 224, 224);
    border: 1px solid;
    border-color: grey;
    border-radius: 5px;
    width: 76px;
    margin-left: 170px;
    background-color: #232222;
    font-size: 18px;
    text-align: center;
}
#settings-node:hover {
    cursor: pointer;
    background-color: var(--modal-hover-bg);
}

/* 
* create file modal nodes 
*/
#create-modal-container {
    position: fixed;
    z-index: 2;
    background-color: var(--create-file-modal-container-bg);
    width: 100%;
    height: calc(100% + 20px);
    margin-top: -10px;
}
#create-modal-inner-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 400px;
    background-color: #2a2828;
    z-index: 1;
    /*border: 1px solid grey;*/
    border-radius: 15px;
}
#create-modal-exit {
    z-index: 1;
    position: fixed;
    width: 68px;
    height: 25px;
    color: white;
    border: 1px solid;
    border-color: grey;
    border-radius: 5px;
    right: 25px;
    bottom: 20px;
    -webkit-user-select: none;
    user-select: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Inter-Regular';
}
#create-modal-exit:hover {
    cursor: pointer;
    background-color: var(--modal-hover-bg);
}
#create-modal-continue {
    z-index: 1;
    position: fixed;
    width: 90px;
    height: 25px;
    color: white;
    border: 1px solid;
    border-color: grey;
    border-radius: 5px;
    right: 110px;
    bottom: 20px;
    -webkit-user-select: none;
    user-select: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Inter-Regular';
}
#create-modal-continue:hover {
    cursor: pointer;
    background-color: rgb(88, 88, 88);
    color: var(--continue-modal);
}
#create-file-modal-current-folder-node {
    color: white;
    margin-top: 180px;
    -webkit-user-select: none;
    user-select: none;
    margin-left: 200px;
    font-family: 'Inter-Regular';
    font-size: 20px;
}
#create-file-modal-folder-name-input-container-node {
    user-select: none;
}
#create-file-modal-folder-name-input-node {
    position: fixed;
    margin-top: -25px;
    margin-left: 270px;
    font-family: 'Inter-Regular';
    font-size: 20px;
    color: white;
    background-color: #494747;
    border: 0px;
    overflow-x: scroll;
    width: 195px;
}
#create-file-modal-folder-name-input-node:focus {
    outline: none;
    -webkit-user-select: none;
    user-select: none;
}
#create-file-modal-new-file-name-node {
    position: fixed;
    color: white;
    margin-top: 10px;
    margin-left: 200px;
    font-family: 'Inter-Regular';
    font-size: 20px;
    user-select: none;
}
#create-file-modal-new-file-name-node:hover {
    cursor: default;
}
#create-file-modal-new-file-name-input-node {
    position: fixed;
    margin-top: 10px;
    margin-left: 267px;
    font-family: 'Inter-Regular';
    font-size: 20px;
    color: white;
    background-color: #494747;
    border: 0px;
    width: 198px;
    caret-color: var(--caret-color-modal);
}
#create-file-modal-new-file-name-input-node:focus {
    outline: none;
}
#create-file-modal-inner-window-text-container {
    margin-top: -25px;
}

#create-folder-modal-inner-window-text-container {
    position: fixed;
    color: white;
    font-size: 20px;
    font-family: 'Inter-Regular';
    margin-top: 180px;
    margin-left: 200px;
    user-select: none;
}
#create-folder-input-node {
    position: fixed;
    background-color: #494747;
    color: white;
    font-size: 20px;
    font-family: 'Inter-Regular';
    border: 0px;
    overflow-x: scroll;
    width: 195px;
    margin-top: 180px;
    margin-left: 270px;
    caret-color: var(--caret-color-modal);
}
#create-folder-input-node:focus {
    outline: none;
}

/**
* word count container
*/
#word-count-container {
    position: fixed;
    width: 225px;
    height: 17px;
    right: 50px;
    top: 60px;
    padding-top: 2px;
    /*border: 1px solid black;*/
    z-index: 1;
    display: inline-block;
    color: var(--word-count-color-light);
    font-family: 'Inter-Regular';
    font-size: 14px;
    user-select: none;
    text-align: right;
    overflow-x: scroll;
}

/**
* folder file count container
*/
.folder-file-count-container {
    position: absolute;
    color: var(--folder-file-count-container-color);
    margin-left: 205px;
    margin-top: 16px;
    width: 42px;
    text-align: right;
    /*border: 1px solid white;*/
    overflow-x: scroll;
}

/*
* kebab dropdown menu
*/
#kebab-dropdown-menu-container {
    position: fixed;
    margin-top: 5px;
    margin-left: 5px;
    right: 20px;
    width: 20px;
    height: 34px;
    /*border: 1px solid black;*/
    z-index: 1;
    user-select: none;
}
#kebab-dropdown-menu-container {
    cursor: pointer;
}
.kebab-dropdown-shape-node.num-0 {
    position: fixed;
    border: 1px solid grey;
    border-radius: 5px;
    z-index: 1;
    width: 5px;
    height: 5px;
    margin-top: 10px;
    margin-left: 5px;
    right: 28px;
    background-color: var(--kebab-dropdown-menu-shape-bg);
}
#kebab-dropdown-menu-container:not(#kebab-after-click-menu-container):hover .kebab-dropdown-shape-node.num-0 {
    background-color: rgb(88, 88, 88);
}
.kebab-dropdown-shape-node.num-1 {
    position: fixed;
    border: 1px solid grey;
    border-radius: 5px;
    z-index: 1;
    margin-top: 17px;
    width: 5px;
    height: 5px;
    margin-left: 5px;
    right: 28px;
    background-color: var(--kebab-dropdown-menu-shape-bg);
}
#kebab-dropdown-menu-container:not(#kebab-after-click-menu-container):hover .kebab-dropdown-shape-node.num-1 {
    background-color: rgb(88, 88, 88);
    cursor: pointer;
}
.kebab-dropdown-shape-node.num-2 {
    position: fixed;
    border: 1px solid grey;
    border-radius: 5px;
    z-index: 1;
    margin-top: 24px;
    width: 5px;
    height: 5px;
    margin-left: 5px;
    right: 28px;
    background-color: var(--kebab-dropdown-menu-shape-bg);
}
#kebab-dropdown-menu-container:not(#kebab-after-click-menu-container):hover .kebab-dropdown-shape-node.num-2 {
    background-color: rgb(88, 88, 88);
    cursor: pointer;
}
#kebab-after-click-menu-container {
    position: fixed;
    /*border: 1px solid grey;*/
    border-radius: 15px;
    background-color: #2a2828;
    width: 150px;
    height: 200px;
    right: 25px;
    top: 85px;
    cursor: default;
}
#kebab-after-click-menu-container.is-active {
    z-index: 1;
}

/*
* kebab dropdown buttons
*/
#kebab-delete-file-button-node {
    position: fixed;
    font-family: 'Inter-Regular';
    font-size: 18px;
    text-align: center;
    color: rgb(224, 224, 224);
    border: 1px solid;
    border-color: grey;
    border-radius: 5px;
    width: 60px;
    top: 120px;
    margin-left: 40px;
    user-select: none;
}
#kebab-delete-file-button-node:hover {
    background-color: rgb(88, 88, 88);
    color: rgb(212, 114, 114);
    cursor: pointer;
}

/*
* kebab modal window
*/
#kebab-modal-container-node {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: calc(100% + 20px);
    margin-top: -10px;
}
#kebab-modal-inner-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 400px;
    background-color: #2a2828;
    z-index: 1;
    /*border: 1px solid grey;*/
    border-radius: 15px;
}
#kebab-modal-exit-button {
    z-index: 1;
    position: fixed;
    width: 68px;
    height: 25px;
    color: white;
    border: 1px solid;
    border-color: grey;
    border-radius: 5px;
    right: 25px;
    bottom: 20px;
    -webkit-user-select: none;
    user-select: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Inter-Regular';
}
#kebab-modal-exit-button:hover {
    cursor: pointer;
    background-color: rgb(88, 88, 88);
}
#kebab-modal-continue-button.delete-file {
    z-index: 1;
    position: fixed;
    width: 90px;
    height: 25px;
    color: white;
    border: 1px solid;
    border-color: grey;
    border-radius: 5px;
    right: 110px;
    bottom: 20px;
    -webkit-user-select: none;
    user-select: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Inter-Regular';
}
#kebab-modal-continue-button.delete-file:hover {
    background-color: rgb(88, 88, 88);
    color: rgb(212, 114, 114);
    cursor: pointer;
}
#kebab-modal-text-node-container {
    color: white;
    margin-left: 150px;
    margin-top: 150px;
    font-family: 'Inter-Regular';
    /*border: 1px solid;*/
    width: 400px;
    user-select: none;
}
#kebab-modal-continue-button.rename-file {
    z-index: 1;
    position: fixed;
    width: 90px;
    height: 25px;
    color: white;
    border: 1px solid;
    border-color: grey;
    border-radius: 5px;
    right: 110px;
    bottom: 20px;
    -webkit-user-select: none;
    user-select: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Inter-Regular';
}
#kebab-modal-continue-button.rename-file:hover {
    background-color: rgb(88, 88, 88);
    cursor: pointer;
}
#kebab-rename-file-button {
    z-index: 1;
    position: fixed;
    width: 70px;
    color: rgb(224, 224, 224);
    border: 1px solid;
    border-color: grey;
    border-radius: 5px;
    -webkit-user-select: none;
    user-select: none;
    font-size: 18px;
    text-align: center;
    font-family: 'Inter-Regular';
    margin-left: 40px;
    margin-top: 75px;
}
#kebab-rename-file-button:hover {
    background-color: rgb(88, 88, 88);
    cursor: pointer;
}

/*
* settings modal 
*/
#settings-modal-container-node {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: calc(100% + 20px);
    margin-top: -10px;
}
#settings-modal-inner-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 450px;
    background-color: #2a2828;
    z-index: 1;
    /*border: 1px solid grey;*/
    border-radius: 15px;
}
#settings-modal-exit {
    z-index: 1;
    position: fixed;
    width: 42px;
    height: 25px;
    color: white;
    border: 1px solid;
    border-color: grey;
    border-radius: 5px;
    right: 25px;
    top: 20px;
    -webkit-user-select: none;
    user-select: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Inter-Regular';
}
#settings-modal-exit:hover {
    cursor: pointer;
    background-color: rgb(88, 88, 88);
}
#settings-modal-options-container {
    /*border: 1px solid white;*/
    width: 600px;
    height: 380px;   
    position: fixed;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    overflow-x: hidden;
    user-select: none;
}

#rename-file-text-node {
    position: fixed;
    color: white;
    font-size: 20px;
    font-family: 'Inter-Regular';
    margin-top: 180px;
    margin-left: 200px;
    user-select: none;
}
#rename-file-input-node {
    position: fixed;
    margin-top: 180px;
    margin-left: 270px;
    font-family: 'Inter-Regular';
    font-size: 20px;
    color: white;
    background-color: #494747;
    border: 0px;
    overflow-x: scroll;
    width: 195px;
    caret-color: white;
}
#rename-file-input-node:focus {
    outline: none;
}

/*
* file directory kebab dropdown 
*/
#file-directory-kebab-dropdown-menu-container {
    position: fixed;
    margin-top: 50px;
    margin-left: 5px;
    right: 10px;
    width: 20px;
    height: 34px;
    /*border: 1px solid black;*/
    z-index: 1;
    user-select: none;
}
#file-directory-kebab-dropdown-menu-container {
    cursor: pointer;
}
.file-directory-kebab-dropdown-shape-node.num-0 {
    position: fixed;
    border: 1px solid grey;
    border-radius: 5px;
    z-index: 1;
    width: 5px;
    height: 5px;
    margin-top: 10px;
    margin-left: 5px;
    right: 18px;
    background-color: var(--kebab-dropdown-menu-shape-bg);
}
#file-directory-kebab-dropdown-menu-container:not(#file-directory-kebab-after-click-menu-container):hover .file-directory-kebab-dropdown-shape-node.num-0 {
    background-color: rgb(88, 88, 88);
}
.file-directory-kebab-dropdown-shape-node.num-1 {
    position: fixed;
    border: 1px solid grey;
    border-radius: 5px;
    z-index: 1;
    margin-top: 17px;
    width: 5px;
    height: 5px;
    margin-left: 5px;
    right: 18px;
    background-color: var(--kebab-dropdown-menu-shape-bg);
}
#file-directory-kebab-dropdown-menu-container:not(#file-directory-kebab-after-click-menu-container):hover .file-directory-kebab-dropdown-shape-node.num-1 {
    background-color: rgb(88, 88, 88);
    cursor: pointer;
}
.file-directory-kebab-dropdown-shape-node.num-2 {
    position: fixed;
    border: 1px solid grey;
    border-radius: 5px;
    z-index: 1;
    margin-top: 24px;
    width: 5px;
    height: 5px;
    margin-left: 5px;
    right: 18px;
    background-color: var(--kebab-dropdown-menu-shape-bg);
}
#file-directory-kebab-dropdown-menu-container:not(#file-directory-kebab-after-click-menu-container):hover .file-directory-kebab-dropdown-shape-node.num-2 {
    background-color: rgb(88, 88, 88);
    cursor: pointer;
}
#file-directory-kebab-after-click-menu-container {
    position: fixed;
    /*border: 1px solid grey;*/
    border-radius: 15px;
    background-color: #2a2828;
    width: 175px;
    height: 80px;
    right: 15px;
    top: 88px;
    cursor: default;
}
#file-directory-kebab-after-click-menu-container.is-active {
    z-index: 1;
}
.editor-mode-label {
    position: fixed;
    color: rgb(224, 224, 224);
    margin-left: 8px;
    margin-top: 18px;
}
#editor-mode-select {
    font-family: 'Inter-Regular';
    background-color: rgb(56, 56, 56);
    color: rgb(224, 224, 224);
    border-radius: 5px;
    font-size: 17px;
    margin-top: 16px;
    margin-left: 63px;
}
#editor-mode-select:focus {
    outline: none;
}

/**
* editor theme selection
*/
#theme-options-container {
    /*border: 1px solid white;*/
    width: 600px;
    height: 150px;
}
#theme-options-container-title {
    color: #ffffff;
    font-family: 'Inter-Bold';
    font-size: 20px;
    margin-left: 0px;
    margin-top: 10px;
}
.editor-theme-label {
    color: white;
    font-family: 'Inter-Regular';
    margin-left: 0px;
    font-size: 17px;
}
#theme-select {
    margin-left: 368px;
    font-family: 'Inter-Regular';
    margin-top: 20px;
    background-color: rgb(56, 56, 56);
    color: white;
    border-radius: 5px;
    font-size: 17px;
}
#theme-select:focus {
    outline: none;
}

/**
* prosemirror editor nodes 
*/
.ProseMirror h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter-Bold';
    margin-left: 3px;
}

.ProseMirror p {
    margin-left: 3px;
    padding-right: 20px;
    white-space: pre-wrap;
    text-align: justify;
}

.ProseMirror pre {
    white-space: normal;
}

.ProseMirror blockquote  {
    border-left: 3px solid grey;
    margin: 1.5em 0px;
    padding: 0.5em 10px;
    font-size: 18px;
}
.ProseMirror blockquote:before {
    color: grey;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.ProseMirror blockquote p {
    display: inline;
    font-size: 18px;
    color: rgb(83, 82, 82);
}

.ProseMirror a {
    color: var(--prosemirror-a-light);
}

.ProseMirror strong {
    font-family: 'Inter-Bold'
}

.ProseMirror img {
    max-width: calc(100% - 15px);
}

.ProseMirror hr {
    border-color: rgb(46, 46, 46);
    width: calc(100% - 25px);
    margin-left: -5px;
}

/*
.ProseMirror pre {
    background-color: var(--prosemirror-pre-bg);
    caret-color: var(--caret-color-light);
    color: var(--prosemirror-pre-color);
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    overflow-x: scroll;
}
*/

.ProseMirror code {
    background-color: var(--prosemirror-code-bg);
    caret-color: var(--caret-color-light);
    color: var(--prosemirror-code-color);
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    overflow-x: scroll;
    white-space: pre-wrap;
    display: inline-block; 
    unicode-bidi: embed;
}

/*
* codemirror editor nodes
*/
.cm-editor {
    position: fixed;
    width: 100%;
    height: calc(100% - 5px);
    font-size: 18px;
    font-family: 'Inter-Bold';
    background-color: var(--prosemirror-bg-light); 
    color: var(--prosemirror-color-light);
    /*border: 1px solid black;*/
    padding-bottom: 150px;
    padding-top: 15px;
    padding-left: 12px;
    padding-right: 12px;
    top: 50px;
    overflow-y: scroll;
}
.cm-editor:focus {
    outline: none;
}
.ͼ2 .cm-content {
    caret-color: var(--caret-color-light);
}
.ͼ1.cm-focused {
    outline: none;
}
.ͼ1.cm-line {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}
.cm-content {
    position: absolute;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    width: calc(100% - 10px);
}
.ͼ1 .cm-scroller {
    font-family: 'Inter-Regular';
}