/*
* default stylesheet for prosemirror
*
* taken from https://github.com/ProseMirror/prosemirror-view/blob/master/style/prosemirror.css
*
* contains modifications by @alexwkleung
*
*/

@font-face {
  font-family: 'Inter-Regular';
  src: url('./default-fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Inter-Medium';
  src: url('./default-fonts/Inter-Medium.ttf');
}
@font-face {
  font-family: 'Inter-Bold';
  src: url('./default-fonts/Inter-Bold.ttf');
}

:root {
  --caret-color-light: #000000;
  --caret-color-dark: #ffffff;
  --prosemirror-bg-light: #ececec;
  --prosemirror-bg-dark: #151515;
  --prosemirror-color-light: #000000;
  --prosemirror-color-dark: #eaeaea;
}

.ProseMirror {
  caret-color: var(--caret-color-light); /* light */
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
  position: fixed;
  overflow-y: scroll;
  overflow-x: scroll;
  width: calc(100% - 318px);
  height: calc(100% - 556px);
  font-size: 18px;
  font-family: 'Inter-Regular';
  background-color: var(--prosemirror-bg-light); 
  color: var(--prosemirror-color-light);
  padding-left: 15px;
  top: 2px;
  bottom: 200px;
  /*border: 1px solid #black*/
  /*border-radius: 25px;*/
  margin-top: 0px;
  padding-bottom: 500px;
  padding-top: 60px;
  /* 
  https://web.dev/content-visibility/ 
  */
  content-visibility: auto; /* helps with scroll performance and load performance */
  contain-intrinsic-size: auto 800px; /* relates to content-visibility */
}

.ProseMirror pre {
  white-space: pre-wrap;
}

.ProseMirror li {
  position: relative;
}

.ProseMirror-hideselection *::selection { background: transparent; }
.ProseMirror-hideselection *::-moz-selection { background: transparent; }
.ProseMirror-hideselection { caret-color: transparent; }

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px; top: -2px; bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

/* Protect against generic img rules */

img.ProseMirror-separator {
  display: inline !important;
  border: none !important;
  margin: 0 !important;
}

.ProseMirror:focus {
  outline: none
}