/*
* default stylesheet for prosemirror
*
* taken from https://github.com/ProseMirror/prosemirror-view/blob/master/style/prosemirror.css
*
* contains modifications
*
*/

@font-face {
  font-family: 'Inter-Regular';
  src: url('./default-fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Inter-Medium';
  src: url('./default-fonts/Inter-Medium.ttf');
}
@font-face {
  font-family: 'Inter-Bold';
  src: url('./default-fonts/Inter-Bold.ttf');
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
  position: fixed;
  overflow-y: scroll;
  overflow-x: scroll;
  width: 73.5%; /* need to fix width */
  max-width: 100vw; /* need to fix width */
  height: 100vh; /* height is okay for now */
  font-size: 20px;
  font-family: 'Inter-Regular';
  background-color: #1b1b1b;
  color: white;
  /*border-radius: 20px;*/
  padding-left: 20px;
}

.ProseMirror pre {
  white-space: pre-wrap;
}

.ProseMirror li {
  position: relative;
}

.ProseMirror-hideselection *::selection { background: transparent; }
.ProseMirror-hideselection *::-moz-selection { background: transparent; }
.ProseMirror-hideselection { caret-color: transparent; }

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px; top: -2px; bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

/* Protect against generic img rules */

img.ProseMirror-separator {
  display: inline !important;
  border: none !important;
  margin: 0 !important;
}

.ProseMirror:focus {
  outline: none
}