/*
* stylesheet for the main window 
*
*/

/* fonts */
@font-face {
    font-family: 'Inter-Regular';
    src: url('./fonts/app/Inter-Regular.ttf');
}

body { 
    background-color: #212121;
    color: white;
    overflow: hidden;
    font-family: 'Inter-Regular';
}